<ion-view view-title="Terms & Conditions" ng-device-backbutton="goBack()" >
  <ion-content>
  
    <div class="list">
        <div class="item list-border card-item" >
            <div class="card zero-margin">
                <div class="row">
                    <div class="col" >
                        <div class="content-heading">
                        ALL OUR CUSTOMERS / <br>PASSENGERS SHOULD NOTE
                        </div>
                        <div class="item item-text-wrap content-text">
                        Babies are counted as passengers. Any potential for additional or oversized luggage must be discussed with the driver prior to any booking. Baby strollers are counted as one normal-sized piece of luggage. Foldable wheelchairs are generally counted as one normal-sized piece luggage. If you are a group of at least 8 passengers, you must book two vehicles or more, or contact us for advice. Vehicles are insured and regularly inspected. TThe Passenger should ensure that the car type they are selecting can accommodate all their passengers and Luggage. Please give us a ring before booking of you need to clarify anything regarding this. we reserve the right to cancel the booking if the wrong type of vehicle is selected.     
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="item list-border card-item" >
            <div class="card zero-margin">
                <div class="row">
                    <div class="col" >
                        <div class="content-heading">
                        BABY SEATS    
                        </div>
                        <div class="item item-text-wrap content-text">
                        There is an additional charge of £3 for the use of a baby seat. You may advise us of the age of the baby when making a booking, in the comment box provided online, so we can provide the correct size of seat. We offer seats for children up to 3 years old.     
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="item list-border card-item" >
            <div class="card zero-margin">
                <div class="row">
                    <div class="col" >
                        <div class="content-heading">
                        ADDITIONAL STOPS DURING <br>ANY BOOKED JOURNEY    
                        </div>
                        <div class="item item-text-wrap content-text">
                        There is a charge for additional stops on the way, in the same direction, generally £5 per stop. If a complete directional diversion is required, when making a booking you must let us know in the comment box or ask us beforehand contacting us and letting us know when and where you need to stop (providing a postal code whenever possible).    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="item list-border card-item" >
            <div class="card zero-margin">
                <div class="row">
                    <div class="col" >
                        <div class="content-heading">
                        DIVERSIONS    
                        </div>
                        <div class="item item-text-wrap content-text">
                        Any diversion on the journey must be specified in the comment box, while making booking, and we will reconfirm the price for the journey, including your diversion as soon as possible. In any case, you may send us an e-mail for a quote before booking any car online.    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="item list-border card-item" >
            <div class="card zero-margin">
                <div class="row">
                    <div class="col" >
                        <div class="content-heading">
                        CHECKING YOUR FLIGHT    
                        </div>
                        <div class="item item-text-wrap content-text">
                        When you book, we will ask you for your flight number, scheduled arrival time, and the airport from which you have departed from, so that we are able to monitor your flight for any delays or cancellations. It is most important that you provide an active, live, telephone/mobile contact number, so we can maintain communications to ensure a smooth customer service with you.     
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="item list-border card-item" >
            <div class="card zero-margin">
                <div class="row">
                    <div class="col" >
                        <div class="content-heading">
                        WAITING TIME    
                        </div>
                        <div class="item item-text-wrap content-text">
                        At any airport we have a policy of no waiting time charge. We usually send the driver directly inside the airport terminal, to arrive 15 minutes after your actual landing time for European flights (30 minutes for intercontinental flights) unless you specify otherwise. This is to allow you time to clear customs/passport control and for collecting your luggage. The driver will then stands inside at the Arrivals hall at the Airport Information desk with a name board, normally beside the WHSmith newsagents (Note: at Luton Airport, there is an official exterior pick up/drop off taxi point.     
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="item list-border card-item" >
            <div class="card zero-margin">
                <div class="row">
                    <div class="col" >
                        <div class="content-heading">
                        AIRPORT BARRIER CHARGES 
                        </div>
                        <div class="item item-text-wrap content-text">
                        The quoted price in our online booking is to drop off the passengers at the designated drop-off / pickup taxi point set by the Airport Authorities. If the passenger would like to be dropped-off nearer to the entrance, they will have to pay the Barrier charges if such a system is enforced in the Airport. At present London Luton and Stansted are charging £3 as Barrier fee, and other airports may follow suit. We have no control over this.     
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="item list-border card-item" >
            <div class="card zero-margin">
                <div class="row">
                    <div class="col" >
                        <div class="content-heading">
                        CAR PARK FEES    
                        </div>
                        <div class="item item-text-wrap content-text">
                        When travelling to/from the airport, we include the appropriate car parking fees within our quoted price.
                        <br><br>
                        If you have any feedback for any booking, or our website, please do not hesitate to Email Us: info@startaxisuk.com
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
    
  </ion-content>
</ion-view>
